.course-detail-container {
  padding-top: 70px;
}

.course-detail-img-div {
  text-align: center;
  margin-top: 20px;
  color: black;
}

.course-detail-img-div img {
  max-width: 350px;
  border-radius: 10px;
}

.addto-cart-btn {
  color: white;
  background-color: #1c9fff;
  margin-top: 15px;
  border: none;
  outline: none;
  padding: 8px 20px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 500;
}

.addto-cart-btn:hover {
  background-color: #5e78b8;
  color: white;
}
