.brand-title {
  color: white;
  font-family: "Arimo", sans-serif;
  font-size: 35px;
  font-weight: 500;
}

.brand-secondary-color {
  color: rgb(255, 187, 0);
  text-shadow: 0px 0px 5px #457fec25;
}

.nav-links a {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255) !important;
  font-size: 18px;
}
.navbar-bg {
  background-color: #1c9fff;
}
