.footer-section {
  background-color: #0b0d17;
  margin-top: 70px;
  padding: 40px 20px 5px;
}

.contact-info {
  margin-top: 20px;
  color: white;
}

.app-download h4 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.app-download img {
  width: 150px;
  margin-top: 20px;
}

.payment-method h4 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.payment-method img {
  margin-top: 20px;
}

.copyright-text {
  color: rgb(209, 209, 209);
  text-align: center;
  padding-top: 30px;
}
